@model aspNETuniversity.Models.Faculty

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>Факультет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="control-label">Имя декана</div>
                <input asp-for="DeanName" class="form-control" />
                <span asp-validation-for="DeanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-label">Название факультета</div>
                <input asp-for="FacultyName" class="form-control" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary mt-2 mb-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
