@model aspNETuniversity.Models.Faculty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Информация</h1>

<div>
    <h4>Факультет</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <h6>Имя декана</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeanName)
        </dd>
        <dt class = "col-sm-2">
            <h6>Название факультета</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Вернуться назад</a>
</div>
