@model aspNETuniversity.Models.StudGroup

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Информация</h1>

<div>
    <h4>Группа</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
             <h6>Год набора</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
             <h6>Код специальности</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecializationCodeNavigation.SpecCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Вернуться назад</a>
</div>
