@model aspNETuniversity.Models.Specialization

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>Специальность</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="control-label">Код специальности</div>
                <input asp-for="SpecCode" class="form-control" />
                <span asp-validation-for="SpecCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-label">Квалификация</div>
                <input asp-for="Cvalification" class="form-control" />
                <span asp-validation-for="Cvalification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="control-label">Название</div>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if (ViewBag.Role=="dean")
            {
             <div class="form-group">
                <div class="control-label">Код факультета</div>
                <input asp-for="FacultyCode" class ="form-control" value=@ViewBag.FacultyCode disabled/>
             </div>
            }
            else
            {
             <div class="form-group">
                <div class="control-label">Код факультета</div>
                <select asp-for="FacultyCode" class ="form-control" asp-items="ViewBag.FacultyCode"></select>
            </div> 
            }
            
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary mt-2 mb-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
