@model aspNETuniversity.Models.Specialization

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Информация</h1>

<div>
    <h4>Специальность</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <h6>Квалификация</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvalification)
        </dd>
        <dt class = "col-sm-2">
            <h6>Название</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            <h6>Код факультета</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyCodeNavigation.FacultyCode)
        </dd>
        <dt class = "col-sm-2">
            <h6>Название факультета</h6>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyCodeNavigation.FacultyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Вернуться назад</a>
</div>
